APP_NAME=SmartCanteen
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000
FRONTEND_URL=http://localhost:5173

LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=smart_canteen
DB_USERNAME=root
DB_PASSWORD=

VITE_BACKEND_ENDPOINT=http://localhost:8000
